.regulations-content {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 80px auto 40px auto;
}

.regulations-content ol li {
    margin: 0em 1em 1em 0em;
    text-align: justify;
    line-height: 1.5;
}

.regulations-content p {
    text-align: justify;
    line-height: 1.5;
}

@media (max-width: 500px) {
    .regulations-content {
        max-width: 95%;
    }
}