.cookies-notification {
    display: flex;
    flex-direction: column;
    bottom: 80px;
    right: 20px;
    color: #fff;
    background-color: #41474b;
    padding: 20px;
    position: fixed;
    align-items: center;
    z-index: 1;
}

.cookies-privacy-link {
    margin-top: 7px;
    cursor: pointer;
    color: #fff;
}

.cookies-ok-btn {
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}

@media (max-width: 500px) {
    .cookies-notification {
        bottom: 0px;
        right: 0px;
        padding: 10px 0px 10px 0px;
        width: 100%;
    }
}