@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Hasło zmienione";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione. Zaloguj się <a asp-page="./Login">używając tego linku</a>.
</p>
